<div class="m-3 border card-body box-med-shadow text-left bg-gray">
    <h3><a href="https://github.com/tpruvot/ccminer/releases" target="_blank">{{ 'mining.gpu_mining.text1'|trans }}</a></h3>
    <hr />
    <p>ccminer.exe -a scrypt:10 -o stratum+tcp://pool1.fujicoin.org:3032 -u FfU8MXPHGsYQY4WAufh54nBB9WgTFzf7oN -p anything</p>
    <h3><a href="https://github.com/nicehash/sgminer/releases" target="_blank">{{ 'mining.gpu_mining.text2'|trans }}</a></h3>
    <hr />
    <p>sgminer.exe --nfactor 11 -o stratum+tcp://pool2.fujicoin.org:3032 -u FfU8MXPHGsYQY4WAufh54nBB9WgTFzf7oN -p anything</p>
</div>