<div class="m-3 border box-med-shadow card-body bg-gray">
    <div class="m-auto text-center justify-content-center">
        <p>{{ 'mining.how_to_mine.text1'|trans }}</p>
        <p>{{ 'mining.how_to_mine.text2'|trans }}</p>
        <p>{{ 'mining.how_to_mine.text3'|trans }}</p>
    </div>
</div>