<div class="m-3 border box-med-shadow card-body text-left bg-gray">
    <p>{{ 'mining.how_to_operate.text1'|trans }}</p>
    <p><a href="https://github.com/fujicoin/node-open-mining-portal" target="_blank">{{ 'mining.how_to_operate.link'|trans }}</a></p>
    <hr />
    <p>{{ 'mining.how_to_operate.text2'|trans }}:</p>
    <ul class="text-left">
        <li>{{ 'mining.how_to_operate.text3'|trans }}</li>
        <li>{{ 'mining.how_to_operate.text4'|trans }}</li>
        <li>{{ 'mining.how_to_operate.text5'|trans }}</li>
        <li>{{ 'mining.how_to_operate.text6'|trans }}</li>
    </ul>
</div>