<div class="m-3 border card-body bg-light p-0">
    <div class="row m-auto text-center justify-content-center">
        <div class="col-12 p-0">
            <article class="card box-med-shadow border-0 bg-gray">
                <h2 class="h2 card-title">{{ 'mining.pool.title'|trans }}</h2>
                <h3 class="h5">{{ 'mining.pool.text1'|trans }}</h3>
                <hr />
                <div class="m-0 row justify-content-center">
                    <article class="card-text box-med-shadow card col-12 col-lg-5 m-3">
                        <img class="card-img-top" src="{{ asset('build/icon/mining/nomp.png') }}" width="66" alt="Nomp logo"/>
                        <hr />
                        <h2 class="h3 card-title">{{ 'mining.pool.fujicoin.title'|trans }}</h2>
                        <hr />
                        <p>{{ 'mining.pool.fujicoin.text1'|trans }}</p>
                        <p>{{ 'mining.pool.fujicoin.text2'|trans }}</p>
                        <div class="row justify-content-center">
                            <p class="card m-2 p-2"><a href="http://pool1.fujicoin.org" target="_blank">{{ 'mining.pool.fujicoin.pool1'|trans }}</a></p>
                            <p class="card m-2 p-2"><a href="http://pool2.fujicoin.org" target="_blank">{{ 'mining.pool.fujicoin.pool2'|trans }}</a></p>
                            <p class="card m-2 p-2"><a href="http://pool3.fujicoin.org" target="_blank">{{ 'mining.pool.fujicoin.pool3'|trans }}</a></p>
                            <p class="card m-2 p-2"><a href="http://pool4.fujicoin.org" target="_blank">{{ 'mining.pool.fujicoin.pool4'|trans }}</a></p>
                        </div>
                        <hr />
                        <ul class="text-left">
                            <li>{{ 'mining.pool.fujicoin.text7'|trans }}</li>
                            <li>{{ 'mining.pool.fujicoin.text8'|trans }}</li>
                            <li>{{ 'mining.pool.fujicoin.text9'|trans }}</li>
                            <li>{{ 'mining.pool.fujicoin.text10'|trans }}</li>
                            <li>{{ 'mining.pool.fujicoin.text11'|trans }}</li>
                        </ul>
                    </article>
                    <a class="text-dark card-text box-med-shadow card col-12 col-lg-5 m-3" href="http://zpool.ca" target="_blank">
                        <img class="card-img-top" src="{{ asset('build/icon/mining/zpool.png') }}" width="66" alt="Zpool logo"/>
                        <hr />
                        <article>
                            <h2 class="h3 card-title">{{ 'mining.pool.zpool.title'|trans }}</h2>
                            <hr />
                            <p>{{ 'mining.pool.zpool.text1'|trans }}</p>
                            <hr />
                        </article>
                        <p>ccminer: -a scrypt:10 -o stratum+tcp://scryptn11.na.mine.zpool.ca:4333 -u FJC_WALLET_ADDRESS -p c=FJC</p>
                        <p>sgminer: --nfactor 11 -o stratum+tcp://scryptn11.na.mine.zpool.ca:4333 -u FJC_WALLET_ADDRESS -p c=FJC</p>
                    </a>
                </div>
            </article>
        </div>
    </div>
</div>