{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'team.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'team.title'|trans } %}
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="card box-med-shadow my-3 col-12 col-md-4 opacity-09 bg-gray">
                <div class="card-body">
                    <h2 class="card-title">{{ 'team.member'|trans }}</h2>
                    <hr />
                    <p class="h5 card-body">Motty: Leader</p>
                    <p class="h5 card-body" style="padding: 0px;">
                        DougB62<br/>
                        Poppa<br/>
                        MinermanNC<br/>
                        Rw13enlib88<br/>
                        MoonWhale<br/>
                        Namuyan<br/>
                        RafaB<br/>
                        Tom I<br/>
                        Yuji N
                    </p>
                </div>
            </div>
            <div class="card box-med-shadow my-3 col-12 col-md-4 opacity-09 bg-gray">
                <div class="card-body">
                    <h2 class="card-title">{{ 'team.web_developer'|trans }}</h2>
                    <hr />
                    <p class="h5 card-body">Velthium: Web developer, translator</p>
                    <p class="h5 card-body" style="padding: 0px;">
                        Translators: <br/>
                        EddycMaster<br/>
                        pocal<br/>
                        BANG<br/>
                        gerrit<br/>
                        zasad@
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}