<div class="row m-3 justify-content-center bg-wave">
    <article class="bg-gray opacity-09 card-body m-auto col-lg-5 border">
        <h2 class="h5 card-title">{{ 'what_is_fujicoin.description.title'|trans }}</h2>
        <hr />
        <div class="card-text text-left">
            <p>{{ 'what_is_fujicoin.description.text1'|trans }}</p>
            <p>{{ 'what_is_fujicoin.description.text2'|trans }}</p>
            <hr />
            <p>{{ 'what_is_fujicoin.description.text3'|trans }}</p>
            <p>{{ 'what_is_fujicoin.description.text4'|trans }}</p>
            <hr />
            <p>{{ 'what_is_fujicoin.description.text5'|trans }}</p>
        </div>
    </article>
    <div class="card-body col-12 col-lg-7">
        <img class="card-img" src="{{ asset('build/icon/basic/comparison.png') }}" alt="Comparison table between FujiCoin with other cryptocurrencies">
    </div>
</div>