<ul class="p-0 row py-3 m-0 justify-content-center opacity-09">
    {% for key, value in specifications %}
        <li class="card col-auto m-2 h-100 box-med-shadow">
            <article class="card-body">
                <h2 class="h5 mt-0 card-title">{{ ('what_is_fujicoin.specifications.'~key~'.title')|trans }}</h2>
                <hr />
                <p class="card-text">{{ ('what_is_fujicoin.specifications.'~key~'.text1')|trans }}</p>
            </article>
        </li>
    {% endfor %}
</ul>