{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'home.title'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="bg-ghostwhite w-100">
            <div class="card">
                <div class="row padding-y-percent-13 justify-content-center" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); background-size: cover; background-image: url({{ asset('build/background/mountain.jpg') }})">
                    <div class="col-12 p-4 col-xl-7 img-border card opacity-09">
                        <div class="card-body p-0 text-center">
                            <article class="card-body d-md-block">
                                <h1 class="card-title m-0 m-md-2 text-dark font-weight-bold">{{ 'home.internationally_registerd.title1'|trans }}</h1>
                                <h2 class="card-text h4">{{ 'home.internationally_registerd.title2'|trans }}</h2>
                                <hr />
                                <p class="card-text font-italic">{{ 'home.internationally_registerd.text1'|trans }}</p>
                                <a class="card-text d-block m-auto" href="{{ path('what_is_fujicoin') }}">
                                    <button type="button" class="btn btn-lg bg-light-blue text-dark border border-dark">{{ 'home.internationally_registerd.text2'|trans }}</button>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-5 bg-ghostwhite justify-content-around">
            <div class="col-12 col-md-6 p-0 col-xl-4 img-border card">
                <img class="w-100" src="{{ asset('build/icon/basic/since_2014.png') }}" alt="Since 2014">
            </div>
            <div class="col-12 col-md-6 p-0 col-xl-4 box-med-shadow card bg-gray">
                <article class="card-body">
                    <h2 class="h4 card-title">{{ "now"|date("Y") - '2014-06-28'|date('Y') }}{{ 'home.anniversary.title'|trans }}</h2>
                    <hr />
                    <section class="h5 card-text">
                        <p>{{ 'home.anniversary.text1'|trans }}</p>
                    </section>
                </article>
            </div>
        </div>
        <div class="row padding-y-percent-5 justify-content-center" style="background-size: cover; background-image: url({{ asset('build/background/japan.jpg') }})">
            <div class="col-12 col-md-7 img-border card opacity-09">
                <article class="card-body">
                    <h2 class="h4 card-title">{{ 'home.the_best.title'|trans }}</h2>
                    <section class="d-none d-md-block">
                        <p>{{ 'home.the_best.text1'|trans }}</p>
                        <p>{{ 'home.the_best.text2'|trans }}</p>
                        <hr />
                        <img class="img-fluid max-width-70" src="{{ asset('build/icon/basic/comparison.png') }}" alt="Comparison with other cryptocurrencies">
                    </section>
                </article>
            </div>
        </div>
    </div>
    <section class="bg-ghostwhite pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 p-0 col-lg-6 col-md-10 col-lg-12">
                    {% include 'include/title_page.html.twig' with {
                        'title': 'home.new_generation.title'|trans,
                        'content': 'home.new_generation.text1'|trans} %}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="reveal col-lg-4 col-md-7 col-sm-9">
                    <article class="p-4 mt-5 bg-white box-med-shadow card h-75 w-100">
                        <div class="d-flex justify-content-between">
                            <h2 class="h4 max-width-70 text-left">{{ 'home.quick.title'|trans }}</h2>
                            <img src="{{ asset('build/icon/basic/icon1.png') }}" alt="Shape Quick">
                        </div>
                        <hr />
                        <p>{{ 'home.quick.text1'|trans }}</p>
                    </article>
                </div>
                <div class="reveal col-lg-4 col-md-7 col-sm-9">
                    <div class="p-4 mt-5 bg-white box-med-shadow card h-75 w-100">
                        <div class="d-flex justify-content-between">
                            <h2 class="h4 max-width-70 text-left">{{ 'home.low_fees.title'|trans }}</h2>
                            <img src="{{ asset('build/icon/basic/icon2.png') }}" alt="Shape Low fees">
                        </div>
                        <hr />
                        <p>{{ 'home.low_fees.text1'|trans }}</p>
                    </div>
                </div>
                <div class="reveal col-lg-4 col-md-7 col-sm-9">
                    <div class="p-4 mt-5 bg-white box-med-shadow card h-75 w-100">
                        <div class="d-flex justify-content-between">
                            <h2 class="h4 max-width-70 text-left">{{ 'home.peer_to_peer.title'|trans }}</h2>
                            <img src="{{ asset('build/icon/basic/icon3.png') }}" alt="Shape Peer to peer">
                        </div>
                        <hr />
                        <p>{{ 'home.peer_to_peer.text1'|trans }}</p>
                    </div>
                </div>
                <div class="reveal col-lg-4 col-md-7 col-sm-9">
                    <div class="p-4 mt-5 bg-white box-med-shadow card h-75 w-100">
                        <div class="d-flex justify-content-between">
                            <h2 class="h4 max-width-70 text-left">{{ 'home.large_capacity.title'|trans }}</h2>
                            <img src="{{ asset('build/icon/basic/icon4.png') }}" alt="Shape Large capacity">
                        </div>
                        <hr />
                        <p>{{ 'home.large_capacity.text1'|trans }}</p>
                    </div>
                </div>
                <div class="reveal col-lg-4 col-md-7 col-sm-9">
                    <div class="p-4 mt-5 bg-white box-med-shadow card h-75 w-100">
                        <div class="d-flex justify-content-between">
                            <h2 class="h4 max-width-70 text-left">{{ 'home.secure.title'|trans }}</h2>
                            <img src="{{ asset('build/icon/basic/icon5.png') }}" alt="Shape Secure">
                        </div>
                        <hr />
                        <p>{{ 'home.secure.text1'|trans }}</p>
                    </div>
                </div>
                <div class="reveal col-lg-4 col-md-7 col-sm-9">
                    <div class="p-4 mt-5 bg-white box-med-shadow card h-75 w-100">
                        <div class="d-flex justify-content-between">
                            <h2 class="h4 max-width-70 text-left">{{ 'home.global.title'|trans }}</h2>
                            <img src="{{ asset('build/icon/basic/icon6.png') }}" alt="Shape Global">
                        </div>
                        <hr />
                        <p>{{ 'home.global.text1'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="img-fluid bg-ghostwhite pt-5 pb-5" style="background-size: cover; background-image: url({{ asset('build/background/market.jpg') }})">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 col-lg-12 pb-5">
                    {% include 'include/title_page.html.twig' with {
                        'title': 'home.market.title'|trans,
                        'content': 'home.market.text1'|trans
                    } %}
                </div>
            </div>
            <div class="row m-auto">
                {# Parse the values of the market array sent by the controller #}
                {% for key, value in market %}
                    {% include 'include/card.html.twig' with {
                        'title': ('home.market.'~key)|trans,
                        'img': 'build/icon/market/' ~ key ~ '.png',
                        'link': value.url}
                    %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}