{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'mining.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'mining.title'|trans } %}
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-12 col-lg-9 m-auto">
                <p class="border border-secondary p-2 bg-light opacity-09">
                    <button class="m-1 btn btn-light border box-med-shadow" type="button" data-toggle="collapse" data-target="#CollapseItemHow_to_mine" aria-expanded="false" aria-controls="CollapseItemHow_to_mine">{{ 'mining.how_to_mine.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemBasic_info" aria-expanded="false" aria-controls="CollapseItemBasic_info">{{ 'mining.basic.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemGpu_miner" aria-expanded="false" aria-controls="CollapseItemGpu_miner">{{ 'mining.gpu_mining.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemCpu_miner" aria-expanded="false" aria-controls="CollapseItemCpu_miner">{{ 'mining.cpu_mining.title'|trans}}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemPools" aria-expanded="false" aria-controls="CollapseItemPools">{{ 'mining.pool.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemHow_to_operate" aria-expanded="false" aria-controls="CollapseItemHow_to_operate">{{ 'mining.how_to_operate.title'|trans }}</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 m-auto">
                {# Do a loop to include each category of the mining page #}
                {% for item in mining %}
                    <div class="p-0 bg-light collapse {% if item == "how_to_mine" %}show{% endif %}" id="CollapseItem{{ item|capitalize }}">
                        <div class="bg-light card box-med-shadow border">
                            <div class="row p-md-5 card-body text-center justify-content-center" style="background-image: url({{ asset('build/background/wave.jpg') }})">
                                {% include 'get_started/mining/include/'~ item ~'.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}