<div class="col-sm-12 col-12 col-md-6 col-xl-3 mb-4 opacity-09">
    <a class="reveal text-dark ext-decoration-none bg-white box-med-shadow card h-100"
       href="{{ link }}" target="_blank">
        <img class="px-3 card-img-top" src="{{ asset(img) }}" alt="{{ title }} logo">
        <article class="card-body">
            <hr />
            <h2 class="h3 card-title">{{ title }}</h2>
            {% if content is defined %}
                <p class="card-text">{{ content }}</p>
            {% endif %}
        </article>
    </a>
</div>