<footer class="text-center border-top bg-light-blue">
    <div class="container">
        <div class="row">
            <p class="m-auto col-12 col-lg-6 pt-3 text-sm-center text-lg-right"><a href="mailto: fujicoin@yahoo.com">{{ 'footer.contact'|trans }}</a></p>
            <p class="m-auto col-12 col-lg-6 pt-3 text-sm-center text-lg-left"><a href="{{ path("terms_of_use") }}">{{ 'footer.terms_of_use'|trans }}</a></p>
        </div>
        <hr />
        <div class="row pb-3">
            <p class="m-auto">{{ 'footer.copyright'|trans }} 2014-{{ "now"|date("Y") }} | fujicoin.org | {{ 'footer.detail_copyright'|trans }}</p>
        </div>
    </div>
</footer>