<div class="container-fluid bg-light-blue">
    <header class="row">
        <nav class="navbar navbar-expand-lg col-lg-12 shadow-sm bg-theme-med navbar-light font-weight-bold">
            <a class="navbar-brand" href="{{ path("home") }}">
                <img src="{{ asset('build/logo/logo.png') }}" width="200" alt="FujiCoin logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse flex-column flex-lg-row" id="navbarSupportedContent">
                <hr class="d-block d-lg-none"/>
                <ul class="navbar-nav m-auto d-md-flex">
                    <li class="nav-item m-3 dropdown">
                        <a class="text-decoration-none dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ 'header.about'|trans }}</a>
                        <div class="dropdown-menu position-absolute text-center text-lg-left" style="margin:0px;" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("what_is_fujicoin") }}">{{ 'header.what_is_fujicoin'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path("team") }}">{{ 'header.team'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("fujicoin_foundation") }}">{{ 'header.fujicoin_fundation'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://fujicoin.us11.list-manage.com/subscribe?u=9fad813e163c8a91e4553621d&id=6bd18a8e68" target="_blank">{{ 'header.mailing_list'|trans }}</a>
                            <a class="dropdown-item" href="https://kiwiirc.com/nextclient/irc.freenode.net/#fujicon" target="_blank">{{ 'header.freenode'|trans }}</a>
                        </div>
                    </li>
                    <li class="nav-item m-3 dropdown">
                        <a class="text-decoration-none dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ 'header.resources'|trans }}</a>
                        <div class="dropdown-menu position-absolute text-center text-lg-left" style="margin:0px;" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("press") }}">{{ 'header.press'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path("promotional_graphics") }}">{{ 'header.promotional_graphics'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("blockchain_explorers") }}">{{ 'header.blockchain_explorer'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path("api") }}">{{ 'header.api'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("node") }}">{{ 'header.node'|trans }}</a>
                        </div>
                    </li>
                    <li class="nav-item p-3 dropdown border border-primary bg-light-blue rounded">
                        <a class="text-decoration-none dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">{{ 'header.get_started'|trans }}</a>
                        <div class="dropdown-menu position-absolute text-center text-lg-left" style="margin:0px;" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path("wallet") }}">{{ 'header.wallet'|trans }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('download') }}">{{ 'header.download'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("buy_fujicoin") }}">{{ 'header.buy_fujicoin'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("mining") }}">{{ 'header.mining'|trans }}</a>
                            <a class="dropdown-item" href="{{ path("where_to_spend") }}">{{ 'header.where_to_spend'|trans }}</a>
                        </div>
                    </li>

                </ul>

                <div class="navbar-nav d-flex">
                    <div class="nav-item m-3 dropdown">
                        <a class="text-decoration-none dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            {% set array = {'de':'Deutsche', 'en':'English', 'fr':'français', 'ja':'日本語', 'nl':'Nederlands', 'pt':'português', 'ru':'русский', 'vi':'Tiếng Việt'} %}

                            {% for key, value in array %}
                                {% if app.request.locale == key %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </a>
                        <div class="dropdown-menu position-absolute text-center text-md-left" style="margin:0px;" aria-labelledby="navbarDropdown">

                            {% for key, value in array %}
                                {% if app.request.locale != key %}
                                    <a class="dropdown-item" href="{{ path('home', { _locale: key }) }}">{{ value }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="d-flex flex-row">
                        <div class="nav-item my-3 mx-2">
                            <a style="color: #00a0e9" href="https://bitcointalk.org/index.php?topic=644601" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                                    <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-item my-3 mx-2">
                            <a style="color: #00a0e9" href="https://new.reddit.com/r/fujicoin/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">
                                    <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-item my-3 mx-2">
                            <a style="color: #00a0e9" href="https://twitter.com/FujiCoin" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-item my-3 mx-2">
                            <a style="color: #00a0e9" href="https://discord.com/invite/rXeBn99" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill='currentColor' class="bi bi-discord bg" viewBox="0 0 16 16">
                                    <path d="M6.552 6.712c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888.008-.488-.36-.888-.816-.888zm2.92 0c-.456 0-.816.4-.816.888s.368.888.816.888c.456 0 .816-.4.816-.888s-.36-.888-.816-.888z"/>
                                    <path d="M13.36 0H2.64C1.736 0 1 .736 1 1.648v10.816c0 .912.736 1.648 1.64 1.648h9.072l-.424-1.48 1.024.952.968.896L15 16V1.648C15 .736 14.264 0 13.36 0zm-3.088 10.448s-.288-.344-.528-.648c1.048-.296 1.448-.952 1.448-.952-.328.216-.64.368-.92.472-.4.168-.784.28-1.16.344a5.604 5.604 0 0 1-2.072-.008 6.716 6.716 0 0 1-1.176-.344 4.688 4.688 0 0 1-.584-.272c-.024-.016-.048-.024-.072-.04-.016-.008-.024-.016-.032-.024-.144-.08-.224-.136-.224-.136s.384.64 1.4.944c-.24.304-.536.664-.536.664-1.768-.056-2.44-1.216-2.44-1.216 0-2.576 1.152-4.664 1.152-4.664 1.152-.864 2.248-.84 2.248-.84l.08.096c-1.44.416-2.104 1.048-2.104 1.048s.176-.096.472-.232c.856-.376 1.536-.48 1.816-.504.048-.008.088-.016.136-.016a6.521 6.521 0 0 1 4.024.752s-.632-.6-1.992-1.016l.112-.128s1.096-.024 2.248.84c0 0 1.152 2.088 1.152 4.664 0 0-.68 1.16-2.448 1.216z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-item my-3 mx-2">
                            <a style="color: #00a0e9" href="https://github.com/fujicoin" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>