<div class="container p-4">
        <h1 class="h2 p-3 opacity-09 box-med-shadow bg-light border border-primary">{{ title }}
            {% if content is defined %}
                <br />
                <span class="h5">{{ content }}</span>
            {% endif %}
        </h1>
</div>