{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'buy_fujicoin.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'buy_fujicoin.title'|trans} %}
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-12 col-lg-9 m-auto">
                <p class="border border-secondary p-2 bg-light opacity-09">
                    <button class="m-1 btn btn-light border box-med-shadow" type="button" data-toggle="collapse" data-target="#CollapseItemExchange" aria-expanded="false" aria-controls="CollapseItemExchange">{{ 'buy_fujicoin.exchanges.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemCredit_card" aria-expanded="false" aria-controls="CollapseItemCredit_card">{{ 'buy_fujicoin.credit_card.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemMarket_price" aria-expanded="false" aria-controls="CollapseItemMarket_price">{{ 'buy_fujicoin.market_price.title'|trans }}</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 m-auto">
                {# Do a loop to include each category of the buy_fujicoin page #}
                {% for item in buy %}
                    <div class="bg-light collapse {% if item == "exchange" %}show{% endif %}" id="CollapseItem{{ item|capitalize }}">
                        <div class="bg-light card box-med-shadow border">
                            <div class="row p-md-5 card-body text-center justify-content-center" style="background-image: url({{ asset('build/background/wave.jpg') }})">
                                {% include 'get_started/buy_fujicoin/include/'~ item ~'.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}