<div class="row m-auto justify-content-center">
    <div class="col-sm-12 col-lg-3 p-2 opacity-09 p-0">
        <a class="box-med-shadow text-decoration-none bg-white card w-100 h-100" href="https://coin2001.com/gb" target="_blank">
            <img class="card-img-top" src="{{ asset('build/icon/market/coin2001.png') }}" width="66" alt="Coin2001 logo">
            <article class="card-body">
                <hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.credit_card.coin2001.title'|trans }}</h2>
                <hr />
                <p class="card-text">{{ 'buy_fujicoin.credit_card.coin2001.text1'|trans }}</p>
            </article>
        </a>
    </div>

    <div class="col-sm-12 col-lg-3 p-2 opacity-09 p-0">
        <a class="box-med-shadow text-decoration-none bg-white card w-100 h-100" href="https://indacoin.com/" target="_blank">
            <img class="card-img-top" src="{{ asset('build/icon/market/ind.png') }}" height="50" alt="Ind logo">
            <article class="card-body">
                <hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.credit_card.indacoin.title'|trans }}</h2>
                <hr />
                <p class="card-text">{{ 'buy_fujicoin.credit_card.indacoin.text1'|trans }}</p>
            </article>
        </a>
    </div>
</div>