<div class="row m-auto justify-content-center">
    <div class="col-12 col-lg-5 col-xl-3 p-2 opacity-09 p-0">
        <div class="box-med-shadow text-decoration-none bg-white card h-100">
            <img class="card-img-top" src="{{ asset('build/icon/market/crex24.png') }}" height="60" alt="Crex24 logo"/>
            <article class="card-body">
                <hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.exchanges.crex24.title'|trans }}</h2>
                <hr />
                <p>{{ 'buy_fujicoin.exchanges.crex24.text1'|trans }}</p>
                <p>{{ 'buy_fujicoin.exchanges.crex24.text2'|trans }}</p>
                <p>{{ 'buy_fujicoin.exchanges.crex24.text3'|trans }}: https://windscribe.com/download</p>
                <div class="row justify-content-center">
                    <p class="card m-2"><a href="https://crex24.com/exchange/FJC-BTC" target="_blank">FJC-BTC</a></p>
                </div>
            </article>
        </div>
    </div>
    <div class="col-12 col-lg-5 col-xl-3 p-2 opacity-09 p-0">
        <div class="box-med-shadow text-decoration-none bg-white card h-100">
            <img class="card-img-top" src="{{ asset('build/icon/market/ataix.png') }}" width="66" alt="Ataix logo"/>
            <article class="card-body"><hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.exchanges.ataix.title'|trans }}</h2>
                <hr />
                <p>{{ 'buy_fujicoin.exchanges.ataix.text1'|trans }}</p>
                <div class="row justify-content-center">
                    <p class="card m-2"><a href="https://trade.ataix.com/FJC-BTC" target="_blank">FJC-BTC</a></p>
                    <p class="card m-2"><a href="https://trade.ataix.com/FJC-ETH" target="_blank">FJC-ETH</a></p>
                    <p class="card m-2"><a href="https://trade.ataix.com/FJC-EUR" target="_blank">FJC-EUR</a></p>
                </div>
            </article>
        </div>
    </div>
    <div class="col-12 col-lg-5 col-xl-3 p-2 opacity-09 p-0">
        <div class=" box-med-shadow text-decoration-none bg-white card h-100">
            <img class="card-img-top" src="{{ asset('build/icon/market/unnamed.png') }}" width="66" alt="Unnamed Exchange logo"/>
            <article class="card-body">
                <hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.exchanges.unnamed.title'|trans }}</h2>
                <hr />
                <p>{{ 'buy_fujicoin.exchanges.unnamed.text1'|trans }}</p>
                <div class="row justify-content-center">
                    <p class="card m-2"><a href="https://www.unnamed.exchange/Exchange?market=FJC_BTC" target="_blank">FJC-BTC</a></p>
                </div>
            </article>
        </div>
    </div>
    <div class="col-12 col-lg-5 col-xl-3 p-2 opacity-09 p-0">
        <div class="box-med-shadow text-decoration-none bg-white card h-100">
            <img class="card-img-top" src="{{ asset('build/icon/market/northern.png') }}" width="66" alt="Northern logo"/>
            <article class="card-body">
                <hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.exchanges.northern.title'|trans }}</h2>
                <hr />
                <p>{{ 'buy_fujicoin.exchanges.northern.text1'|trans }}</p>
                <p class="card-text">{{ 'buy_fujicoin.exchanges.northern.text2'|trans }}</p>
                <div class="row justify-content-center">
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_BTC" target="_blank">FJC_BTC</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FGC_USDT" target="_blank">FGC_USDT</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_LTC" target="_blank">FJC_LTC</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FGC_NORT" target="_blank">FGC_NORT</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_ETH" target="_blank">FJC_ETH</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_XRP" target="_blank">FJC_XRP</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_XMR" target="_blank">FJC_XMR</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_LITB" target="_blank">FJC_LITB</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_DOGE" target="_blank">FJC_DOGE</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_NAHA" target="_blank">FJC_NAHA</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_EAPC" target="_blank">FJC_EAPC</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_QBC" target="_blank">FJC_QBC</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_Dollar" target="_blank">FJC_Dollar</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_YEN" target="_blank">FJC_YEN</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_EUR" target="_blank">FJC_EUR</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_AUS" target="_blank">FJC_AUS</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_RUR" target="_blank">FJC_RUR</a></p>
                    <p class="card m-1"><a href="https://nortexchange.com/exchange/?market=FJC_CAD" target="_blank">FJC_CAD</a></p>
                </div>
            </article>
        </div>
    </div>
    <div class="col-12 col-lg-5 col-xl-3 p-2 opacity-09 p-0">
        <a class=" box-med-shadow text-decoration-none bg-white card h-100" href="https://www.blocknet.co/built-on-blocknet" target="_blank">
            <img class="card-img-top" src="{{ asset('build/icon/market/blockdx.png') }}" width="66" alt="Blockdx logo"/>
            <article class="card-body">
                <hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.exchanges.blockdx.title'|trans }}</h2>
                <hr />
                <p>{{ 'buy_fujicoin.exchanges.blockdx.text1'|trans }}</p>
                <p class="card-text">{{ 'buy_fujicoin.exchanges.blockdx.text2'|trans }}</p>
                <p>{{ 'buy_fujicoin.exchanges.blockdx.text3'|trans }}</p>
            </article>
        </a>
    </div>
    <div class="col-12 col-lg-5 col-xl-3 p-2 opacity-09 p-0">
        <a class=" box-med-shadow text-decoration-none bg-white card h-100" href="https://komodoplatform.com/en/blog/decentralized-exchange/" target="_blank">
            <img class="card-img-top" src="{{ asset('build/icon/market/barterdex.png') }}" width="66" alt="Barterdex logo"/>
            <article class="card-body">
                <hr />
                <h2 class="h3 card-title">{{ 'buy_fujicoin.exchanges.barterdex.title'|trans }}</h2>
                <hr />
                <p>{{ 'buy_fujicoin.exchanges.barterdex.text1'|trans }}</p>
                <p class="card-text">{{ 'buy_fujicoin.exchanges.barterdex.text2'|trans }}</p>
                <p>{{ 'buy_fujicoin.exchanges.barterdex.text3'|trans }}</p>
            </article>
        </a>
    </div>
    <div class="col-12 col-lg-5 col-xl-3 p-2 opacity-09 p-0">
        <a class="box-med-shadow text-decoration-none bg-white card h-100" href="https://www.blockbid.io/" target="_blank">
            <img class="card-img-top" src="{{ asset('build/icon/market/blockbid.png') }}" width="66" alt="Blockbid logo"/>
            <article class="card-body">
                <hr />
                <h2 class="h3">{{ 'buy_fujicoin.exchanges.blockbid.title'|trans }}</h2>
                <hr />
                <p class="card-text">{{ 'buy_fujicoin.exchanges.blockbid.text1'|trans }}</p>
            </article>
        </a>
    </div>
</div>