{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'wallet.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'wallet.title'|trans} %}
    <div class="container-fluid pb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 m-auto">
                <p class="border border-secondary p-2 bg-light opacity-09">
                    <button class="m-1 btn btn-light border box-med-shadow" type="button" data-toggle="collapse" data-target="#CollapseItemLightweight" aria-expanded="false" aria-controls="CollapseItemLightweight">{{ 'wallet.light.title'|trans  }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemDex" aria-expanded="false" aria-controls="CollapseItemDex">{{ 'wallet.dex.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemHardware" aria-expanded="false" aria-controls="CollapseItemHardware">{{ 'wallet.hardware.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemCore" aria-expanded="false" aria-controls="CollapseItemCore">{{ 'wallet.core.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemPaper_wallet" aria-expanded="false" aria-controls="CollapseItemPaper_wallet">{{ 'wallet.paper_wallet.title'|trans }}</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 m-auto">
                {# Do a loop to include each category of the wallet page #}
                {% for item in wallet %}
                    <div class="p-0 bg-light collapse {% if item == "lightweight" %}show{% endif %}" id="CollapseItem{{ item|capitalize }}">
                        <div class="bg-light card box-med-shadow border">
                            <div class="row p-md-5 card-body text-center justify-content-center bg-wave">
                                {% include 'get_started/wallet/include/'~ item ~'.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}