@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

$height-header: 8vh;
$height-footer: 12vh;
$bg-light-blue: #f8fcfe;

@font-face {
  font-family: inter;
  src: url('../fonts/inter/Inter-Regular.otf') format('woff');
}

.bg-ghostwhite {
  background-color: ghostwhite;
}

.bg-light-blue {
  background-color: $bg-light-blue;
}

.bg-gray {
  background-image: url('../images/background/gray.png');
}

.bg-gray-cover {
  background-image: url('../images/background/gray.png');
  background-size: cover;
}

.bg-wave {
  background-image: url('../images/background/wave.jpg');
}

.bg-wave-cover {
  background-image: url('../images/background/wave.jpg');
  background-size: cover;
}

.card-body {
  color: black;
}

.box-med-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

img.img-zoom {
  cursor: pointer;
}

body {
  font-family: inter, sans-serif;
}

main {
  min-height: 100vh - ($height-header + $height-footer);
}

footer {
  height: $height-footer;
}

.card-img-top {
  margin-top: 16px;
  max-height: 8vh;
  object-fit: contain;
}

.card-img {
  margin-top: 16px;
  max-height: 50vh;
  object-fit: contain;
}

li.no-style {
  text-decoration: none;
  list-style-type: none;
}

.max-width-70 {
  max-width: 70%;
}

a:visited, a:active {
  text-decoration: none;
}

a:hover, .nav-item > a:hover {
  text-decoration: none;
  color: #aacf52;
}

.img-border {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
  margin-top: 20px;
}

.nav-item a {
  color: #00a0e9;
  font-size: 18px;
}

.opacity-09 {
  opacity: 0.9;
}

.padding-y-percent-13 {
  padding-top: 13%;
  padding-bottom: 13%;
}

.padding-y-percent-5 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.btn-light {
  background-color: #dae0e5;
}

.btn-light.collapsed {
  background-color: white;
}
