<div class="border p-3 text-left box-med-shadow p-3 bg-gray-cover">
    <article class="card-text">{{ 'wallet.core.text1'|trans }}</article>
    <hr />
    <section>
        <h2 class="h3">{{ 'wallet.core.text2'|trans }}</h2>
        <h3 class="h5">{{ 'wallet.core.install_core.title'|trans }}</h3>
        <p>{{ 'wallet.core.install_core.text1'|trans }}</p>
        <p>{{ 'wallet.core.install_core.text2'|trans }}</p>
        <p>{{ 'wallet.core.install_core.text3'|trans }}</p><hr />
    </section>
    <section>
        <h2 class="h3">{{ 'wallet.core.short_period.title'|trans }}</h2>
        <p>{{ 'wallet.core.short_period.text1'|trans }}</p>
        <p>Download: <a href="https://download.fujicoin.org/Raw_Blockchain_DB/" target="_blank">Download Center</a></p>
        <ol>
            <li>{{ 'wallet.core.short_period.text2'|trans }}</li>
            <li>{{ 'wallet.core.short_period.text3'|trans }}</li>
            <li>{{ 'wallet.core.short_period.text4'|trans }}</li>
        </ol>
        <p>{{ 'wallet.core.short_period.text5'|trans }}</p>

        <ol>
            <li>{{ 'wallet.core.short_period.text6'|trans }}</li>
            <li>{{ 'wallet.core.short_period.text7'|trans }}</li>
            <li>{{ 'wallet.core.short_period.text8'|trans }}</li>
        </ol>
        <p>{{ 'wallet.core.short_period.text9'|trans }}</p>
    </section>
    <section>
        <h2 class="h3">{{ 'wallet.core.example_configuration.title'|trans }}</h2>
        <p>{{ 'wallet.core.example_configuration.text1'|trans }}</p>
        <hr />
        <p class="m-0 text-monospace">server=1</p>
        <p class="m-0 text-monospace">listen=1</p>
        <p class="m-0 text-monospace">rpcuser=</p>
        <p class="m-0 text-monospace">rpcpassword=</p>
        <p class="m-0 text-monospace">rpcallowip=127.0.0.1</p>
        <p class="m-0 text-monospace">port=3777</p>
        <p class="m-0 text-monospace">rpcport=3776</p>
        <p class="m-0 text-monospace">addresstype=legacy</p>
        <p class="m-0 text-monospace">changetype=legacy</p>
        <hr />
    </section>
    <section>
        <h2 class="h3">{{ 'wallet.core.wallet_address_tool.title'|trans }}</h2>
        <p>{{ 'wallet.core.wallet_address_tool.text1'|trans }}</p>
        <p>Trial: <a href="https://iancoleman.io/bip39/" target="_blank">https://iancoleman.io/bip39/</a></p>
        <p>{{ 'wallet.core.wallet_address_tool.text2'|trans }}</p>
        <p>{{ 'wallet.core.wallet_address_tool.text3'|trans }}:<a href="https://github.com/iancoleman/bip39" target="_blank"> https://github.com/iancoleman/bip39</a></p>
        <p>{{ 'wallet.core.wallet_address_tool.text4'|trans }}:<a href="https://github.com/iancoleman/bip39/releases" target="_blank"> Download bip39-standalone.html</a></p>
    </section>
</div>