<div class="col-sm-12 col-xl-6 px-3 my-3 py-md-0 opacity-09 p-0 box-med-shadow text-decoration-none bg-white card">
    <a class="" href="https://trezor.io/" target="_blank">
        <img class="card-img-top" width="233" height="66" src="{{ asset('build/icon/wallet/trezor-wallet.png') }}" alt="Trezor wallet logo">
    </a>
        <article class="card-body">
            <hr />
            <h2 class="h3">{{ 'wallet.hardware.trezor.title'|trans }}</h2>
            <hr />
            <p>{{ 'wallet.hardware.trezor.text1'|trans }}</p>
            <p>{{ 'wallet.hardware.trezor.text2'|trans }}</p>
            <p>{{ 'wallet.hardware.trezor.text3'|trans }}</p>
            <p><a href="https://wiki.trezor.io/Fujicoin_(FJC)" target="_blank">{{ 'wallet.hardware.trezor.text4'|trans }}</a></p>
        </article>
</div>
<div class="col-sm-12 col-xl-6 px-3 my-3 py-md-0 opacity-09 p-0">
    <a class="box-med-shadow text-decoration-none bg-white card h-100" href="https://www.archos.com/fr/products/crypto/index.html" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/wallet/archos.png') }}" width="233" height="66" alt="Archos wallet logo">
        <article class="card-body">
            <hr />
            <h2 class="h3">{{ 'wallet.hardware.archos.title'|trans }}</h2>
            <hr />
            <p>{{ 'wallet.hardware.archos.text1'|trans }}</p>
            <p>{{ 'wallet.hardware.archos.text2'|trans }}</p>
        </article>
    </a>
</div>