<div class="col-12 col-lg-6 col-xl-4 p-2 opacity-09 p-0">
    <a class="text-decoration-none box-med-shadow bg-white card h-100" href="{{ path('download') }}" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/wallet/electrum-desktop.png') }}" width="235" height="60" alt="Electrum logo"/>
        <article class="card-body">
            <hr />
            <h2 class="h3">{{ 'wallet.light.electrum.title'|trans }}</h2>
            <hr />
            <p>{{ 'wallet.light.electrum.text1'|trans }}</p>
        </article>
    </a>
</div>

<div class="col-12 col-lg-6 col-xl-4 p-2 opacity-09 p-0">
    <a class="text-decoration-none box-med-shadow bg-white card h-100" href="{{ path('download') }}" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/wallet/electrum-phone.png') }}" alt="Electrum logo"/>
        <article class="card-body">
            <hr />
            <h2 class="h3">{{ 'wallet.light.mobile_electrum.title'|trans }}</h2>
            <hr />
            <p>{{ 'wallet.light.mobile_electrum.text1'|trans }}</p>
            <p>{{ 'wallet.light.mobile_electrum.text2'|trans }}</p>
            <p>{{ 'wallet.light.mobile_electrum.text3'|trans }}</p>
        </article>
    </a>
</div>
<div class="col-12 col-lg-6 col-xl-4 p-2 opacity-09 p-0">
    <a class="text-decoration-none box-med-shadow bg-white card h-100" href="https://monya-wallet.github.io/wallet/" target="_blank">
        <img class="card-img-top" src="{{ asset('build/icon/wallet/web-wallet.png') }}" alt="Web wallet Monya logo">
        <article class="card-body">
            <hr />
            <h2 class="h3">{{ 'wallet.light.monya.title'|trans }}</h2>
            <hr />
            <p>{{ 'wallet.light.monya.text1'|trans }}</p>
            <p>{{ 'wallet.light.monya.text2'|trans }}</p>
            <p>{{ 'wallet.light.monya.text3'|trans }}</p>
        </article>
    </a>
</div>