<div class="p-2 box-med-shadow border bg-gray">
    <p class="card-title">{{ 'wallet.paper_wallet.text1a'|trans }}<a href="{{ path('wallet_generator') }}" target="_blank">{{ 'wallet.paper_wallet.here'|trans }}</a>{{ 'wallet.paper_wallet.text1b'|trans }}</p>
    <hr />
    <p class="card-text">{{ 'wallet.paper_wallet.text2'|trans }}</p>
    <p class="card-text">{{ 'wallet.paper_wallet.text3'|trans }}: "{{ 'wallet.paper_wallet.text4'|trans }}"</p>
    <a href="{{ path('wallet_generator') }}" target="_blank">
        <img class="box-med-shadow img-fluid" src="{{ asset('build/icon/wallet/paper-wallet.png') }}" width="320" alt="FujiCoin Paper Wallet">
    </a>
</div>