{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'api.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {
        'title': 'api.title'|trans,
        'content': 'api.text1'|trans} %}
    <div class="container">
        <div class="row justify-content-around bg-gray">
            <table class="table table-bordered box-med-shadow m-0">
                <thead class="bg-ghostwhite">
                <tr>
                    <th scope="col">{{ 'api.command_uri'|trans }}</th>
                    <th scope="col">{{ 'api.current_value'|trans }} {{ "now"|date('d-m-y h:m:s') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{{ path('api_value', {'value': 'height'}) }}" target="_blank">{{ 'api.height'|trans }}</a></td>
                    <td>{{ api.height }}</td>
                </tr>
                <tr>
                    <td><a href="{{ path('api_value', {'value': 'block_reward'}) }}" target="_blank">{{ 'api.block_reward'|trans }}</a></td>
                    <td>{{ api.reward }}</td>
                </tr>
                <tr>
                    <td><a href="{{ path('api_value', {'value': 'total_amount'}) }}" target="_blank">{{ 'api.total_amount'|trans }}</a></td>
                    <td>{{ api.total_amount }}</td>
                </tr>
                <tr>
                    <td><a href="{{ path('api_value', {'value': 'difficulty'}) }}" target="_blank">{{ 'api.difficulty'|trans }}</a></td>
                    <td>{{ api.difficulty }}</td>
                </tr>
                <tr>
                    <td><a href="{{ path('api_value', {'value': 'hashespersec'}) }}" target="_blank">{{ 'api.hash_per_seconds'|trans }}</a></td>
                    <td>{{ api.networkhashps }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}