{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'blockchain_explorer.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'blockchain_explorer.title'|trans } %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card box-med-shadow bg-light col-12 col-xl-6 m-2 bg-gray">
                <a class="text-dark" href="https://explorer.fujicoin.org/" target="_blank">
                    <img class="card-img-top" src="{{ asset('build/icon/blockchain/blockbook.png') }}" alt="Blockbook explorer" />
                    <article class="card-body">
                        <hr />
                        <h2 class="h3 card-title">{{ 'blockchain_explorer.blockbook.title'|trans }}</h2>
                        <hr />
                        <p class="card-text">{{ 'blockchain_explorer.blockbook.text1'|trans }}</p>
                    </article>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-xl-8 py-3 m-auto">
                <div class="card box-med-shadow alert-danger mt-5">
                    <article class="card-body">
                        <h2 class="h5 card-title">{{ 'blockchain_explorer.disclaimer.title'|trans }}</h2>
                        <hr />
                        <p class="card-text">{{ 'blockchain_explorer.disclaimer.text1'|trans }}</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}