<div class="border text-left box-med-shadow p-3 bg-gray-cover">
    <p>{{ 'download.core.text1'|trans }}</p>
    <hr />
    <h5>{{ 'download.core.text2'|trans }}</h5>
    <p class="pt-4">{{ 'download.core.text3'|trans }}</p>
    <h5>{{ 'download.core.text4'|trans }}</h5>
    <p>{{ 'download.core.text5'|trans }}</p>
    <hr />
    <p>{{ 'download.core.text6'|trans }}</p>
    <p>{{ 'download.core.text7'|trans }}</p>
    <a href="https://download.fujicoin.org/fujicoin-signet-utility/" target="_blank"><p>https://download.fujicoin.org/fujicoin-signet-utility</p></a>
    <p>{{ 'download.core.text8'|trans }}</p>
    <a href="https://github.com/fujicoin/fujicoin/blob/master/doc/signet.md" target="_blank"><p>https://github.com/fujicoin/fujicoin/blob/master/doc/signet.md</p></a>
    <hr />
    <p><a href="https://github.com/fujicoin/fujicoin/blob/master/doc/release-notes.md" target="_blank">{{ 'download.core.text9'|trans }}</a></p>
    <div class="row m-auto justify-content-center">
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/fujicoin-v0.21.1/" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/windows.jpg') }}" alt="Windows logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.core.windows.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.core.windows.text1'|trans }}</p>
                    <p>{{ 'download.core.windows.text2'|trans }}</p>
                </article>
            </a>
        </div>

        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/fujicoin-v0.21.1/" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/linux.png') }}" width="100" height="100" alt="Linux logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.core.linux.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.core.linux.text1'|trans }}</p>
                    <p>{{ 'download.core.linux.text2'|trans }}</p>
                    <p>{{ 'download.core.linux.text3'|trans }}</p>
                </article>
            </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/fujicoin-v0.21.1/" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/apple.png') }}" width="100" height="100" alt="Apple logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.core.macosx.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.core.macosx.text1'|trans }}</p>
                    <p>{{ 'download.core.macosx.text2'|trans }}</p>
                </article>
            </a>
        </div>
    </div>
</div>