<div class="border text-left box-med-shadow p-3 bg-gray-cover">
    <p>{{ 'download.electrum.text1'|trans }}</p>
    <hr />
    <h5>{{ 'download.electrum.text2'|trans }}</h5>
    <p class="pt-4">{{ 'download.electrum.text3'|trans }}</p>
    <p>{{ 'download.electrum.text4'|trans }}</p>
    <p><a href="https://github.com/fujicoin/electrum-fjc/blob/master/RELEASE-NOTES" target="_blank">{{ 'download.electrum.text5'|trans }}</a></p>
    <div class="row m-auto justify-content-center">
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/electrum-FJC-3.3.9/Windows/" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/windows.jpg') }}" alt="Windows logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.windows.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.windows.text1'|trans }}</p>
                    <p>{{ 'download.electrum.windows.text2'|trans }}</p>
                </article>
            </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/electrum-FJC-3.3.9/MacOSX/" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/apple.png') }}" alt="Apple logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.apple.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.apple.text1'|trans }}</p>
                    <p>{{ 'download.electrum.apple.text2'|trans }}</p>
                </article>
            </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://download.fujicoin.org/electrum-FJC-3.3.9/Android/" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/android.jpg') }}" alt="Android logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.android.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.android.text1'|trans }}</p>
                    <p>{{ 'download.electrum.android.text2'|trans }}</p>
                </article>
            </a>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-3 p-2 opacity-09 p-0">
            <a class="text-center box-med-shadow text-decoration-none bg-white card h-100" href="https://github.com/fujicoin/electrum-fjc" target="_blank">
                <img class="card-img-top" src="{{ asset('build/icon/brand/github.jpg') }}" alt="Github logo"/>
                <article class="card-body">
                    <hr />
                    <h2 class="h3">{{ 'download.electrum.github.title'|trans }}</h2>
                    <hr />
                    <p>{{ 'download.electrum.github.text1'|trans }}</p>
                </article>
            </a>
        </div>
    </div>
</div>