<div class="border text-left box-med-shadow p-3 bg-gray-cover">
    <p class="card-text">{{ 'download.raw_blockchain.text1'|trans }}</p>
    <p class="card-text">{{ 'download.raw_blockchain.text2'|trans }}</p>
    <p class="card-text">{{ 'download.raw_blockchain.text3'|trans }}</p>
    <hr />
    <p class="card-text">{{ 'download.raw_blockchain.text4'|trans }}</p>
    <p class="card-text">{{ 'download.raw_blockchain.text5'|trans }}</p>
    <hr />
    <p class="card-text"><a href="https://download.fujicoin.org/Raw_Blockchain_DB/" target="_blank">{{ 'download.raw_blockchain.text6'|trans }}</a></p>
</div>