<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="description" content="{{ 'meta.description'|trans }}">
    <meta name="keywords" content="Fujicoin,cryptocurrency,digital currency,blockchain,Bitcoin">
    <meta property="og:site_name" content="Fujicoin official website">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.fujicoin.org/">
    <meta property="og:title" content="{% block title %}FujiCoin{% endblock %}">
    <meta property="og:description" content="{{ 'meta.description'|trans }}">
    <meta property="og:image" content="{{ asset('build/images/og-japan.jpg') }}"> 

    <link rel="icon" type="image/png" href="{{ asset('build/favicon/favicon-64x64.png') }}" sizes="64x64">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-66541139-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    {% include 'include/header.html.twig' %}
    <main class="px-0 text-center" style="background-size: cover; background-image: url({{ asset('build/background/mountain2.jpg') }})">
        {% block body %}
        {% endblock %}
    </main>
    {% include 'include/footer.html.twig' %}
</body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>