{% extends 'base.html.twig' %}

{% block title %}FujiCoin | {{ 'what_is_fujicoin.title'|trans }}{% endblock %}

{% block body %}
    {% include 'include/title_page.html.twig' with {'title': 'what_is_fujicoin.title'|trans} %}
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-12 col-lg-9 m-auto">
                <p class="border border-secondary p-2 bg-light opacity-09">
                    <button class="m-1 btn btn-light border box-med-shadow" type="button" data-toggle="collapse" data-target="#CollapseItemDescription" aria-expanded="true" aria-controls="CollapseItemDescription">{{ 'what_is_fujicoin.description.card_title'|trans  }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemS_curve" aria-expanded="false" aria-controls="CollapseItemS_curve">{{ 'what_is_fujicoin.s_curve.title'|trans }}</button>
                    <button class="m-1 btn btn-light border box-med-shadow collapsed" type="button" data-toggle="collapse" data-target="#CollapseItemSpecifications" aria-expanded="false" aria-controls="CollapseItemSpecifications">{{ 'what_is_fujicoin.specifications.title'|trans }}</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 p-0 m-auto">
                {# Do a loop to include each category of the what_is_fujicoin page #}
                {% for item in about %}
                    <div class="p-0 card collapse {% if item == "description" %}show{% endif %}" id="CollapseItem{{ item|capitalize }}">
                        <div class="box-med-shadow border" style="background-image: url({{ asset('build/background/wave.jpg') }})">
                            {% include 'about/what_is_fujicoin/include/'~ item ~ '.html.twig' %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}